<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>charset</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MetaDataM8367</servlet-name>
    <servlet-class>web.MetaData</servlet-class>
    <init-param>
      <param-name>tempPath</param-name>
      <param-value>/WEB-INF/temp</param-value>
    </init-param>
    <init-param>
      <param-name>allowOrigin</param-name>
      <param-value>1</param-value>
    </init-param>
    <init-param>
      <param-name>sizeThreshold</param-name>
      <param-value>102400</param-value>
    </init-param>
    <init-param>
      <param-name>fileSizeMax</param-name>
      <param-value>2097152</param-value>
    </init-param>
    <init-param>
      <param-name>sizeMax</param-name>
      <param-value>10485760</param-value>
    </init-param>
    <init-param>
      <param-name>sqlTable</param-name>
      <param-value>META836</param-value>
    </init-param>
    <init-param>
      <param-name>sqlName</param-name>
      <param-value>PLSQL</param-value>
    </init-param>
    <init-param>
      <param-name>charset</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>MetaDataM8367</servlet-name>
    <url-pattern>/sc/metadatam/MetaDataM8367</url-pattern>
  </servlet-mapping>
</web-app>